@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #dedede;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper {
    width: 70%;
    background-color: #ffffff;
    color: #000;
    padding-bottom: 1px;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
}
header{
    border-radius: 1% 1% 0 0 ;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background: url("../src/background.jpg") no-repeat center;
    background-size: cover;
}
h1{
    color: #ffffff;
    padding-left: 20px;
}
.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.column-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 25px;
    max-width: 300px;
}
.column-2{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
h2{
    padding-left: 10%;
    color: #29565F;
}
h3{
    color: #29565F;
    letter-spacing: 1px;
}
img#icon{
    border-radius: 50%;
    max-width: 20%;
    height: auto;
}
section{
    padding-left: 5%;
    padding-right: 5%;
}
.contacts ul{
    list-style-type: none;
    padding: 0;
}
.contact{
    display: flex;
    flex-direction: row;
}
.contact__icon{
    padding: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.skills__list{
    list-style-type: none;
    padding: 0;
    font-weight: bold;
}
.skills__item{
    display: flex;
    flex-direction: row;
}
.skills__icon{
    padding-right: 10px;
    padding-bottom: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.about{
    padding-left: 5%;
    padding-right: 5%;
}
a{
    color: #434343;
    text-decoration: none;
    font-weight: bolder;
}
a:visited{
    color: blue;
}
.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: #0909a5;
}
#rs{
    padding-top: 10px;
    max-width: 30%;
    height: auto;
}
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project{
    background-color: #408693;
    border: 3px solid #1E4046;
    border-radius: 5%;
    text-align: center;
    color: white;
    padding: 5px;
    max-width: 400px;
    max-height: 650px;
    margin-bottom: 50px;
}
.project__image{
    border-radius: 5%;
    width: 100%;
    height: auto;
}
button{
    outline: none;
    border: none;
}
.btn-link{
    text-decoration: none;
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    background-color: #CD6326;
    border-radius: 5px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
    cursor: pointer;
}
.btn-link:hover{
    background-color: #E39128;
}
.footer{
    background-color: #408693;
    border-radius: 0 0 1% 1% ;
    color: white;
    text-align: right;
    font-size: 1.6rem;
    font-weight: 300;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


