#contact {
  h3 {
    margin: 15px 0;
  }
  .contacts__list {
    list-style: none;
    .contact {
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .contact__icon {
    margin-right: 15px;
    width: 30px;
    filter: invert(100%);
  }
  a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    z-index: 1;
  }

  a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.07em;
    height: 0.1em;
    width: 100%;
    background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
    z-index: -1;
    transition: width 0.25s cubic-bezier(0.6, 0, 0.4, 1);
  }

  a:hover::after {
    width: 1%;
  }
}
