.header__active {
  background-color: rgba(28, 5, 34, 0.9);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding: 30px 100px 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  transition: all 0.7s;

  .header__logo {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
  }
}
#progress-bar {
  position: absolute;
  left: 0;
  bottom: 0.07em;
  height: 0.1em;
  width: 0%;
  background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
  z-index: -1;
  transition: width 0.25s cubic-bezier(0.6, 0, 0.4, 1);
}
#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav__item {
    :hover {
      background: #fff;
      color: #2b1055;
    }

    a {
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      padding: 6px 15px;
      color: #fff;
      border-radius: 15px;
      margin-left: 20px;
    }
  }
}

#menu-btn {
  width: 30px;
  height: 30px;
  filter: invert(100%);
  display: none;
}
#header.active {
  #menu-btn {
    background-image: url("../assets/cross-svgrepo-com.svg");
  }
}
#header.hide {
  #menu-btn {
    background-image: url("../assets/menu-bars-svgrepo-com.svg");
  }
}

@media screen and (max-width: 640px) {
  #menu-btn {
    display: block;
  }
  #header.active {
    height: 100px;
    padding: 10px 50px 50px 50px;
    .nav__list {
      display: flex;
    }
  }
  #header.hide {
    height: 60px;
    padding: 20px 50px;
    .nav__list {
      display: none;
    }
  }
  .nav__list {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    justify-content: space-around;
    .nav__item {
      a {
        padding: 6px 15px;
        margin-left: 0px;
      }
    }
  }
}
