.header__active{
  background-color: rgba(28,5, 34,0.9);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 30px 100px 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  transition: all .7s;

  .header__logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    Letter-spacing: 2px;
  }
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav__item {
    :hover {
      background: #fff;
      color: #2b1055;
    }

    a {
      text-decoration: none;
      padding: 6px 15px;
      color: #fff;
      border-radius: 15px;
      margin-left: 20px;
    }
  }
}

