@import url("https://fonts.googleapis.com/css?family=Raleway:200");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de);
}

.header__active {
  background-color: rgba(28, 5, 34, 0.9);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding: 30px 100px 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  transition: all 0.7s;
}
#header .header__logo {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
}

#progress-bar {
  position: absolute;
  left: 0;
  bottom: 0.07em;
  height: 0.1em;
  width: 0%;
  background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
  z-index: -1;
  transition: width 0.25s cubic-bezier(0.6, 0, 0.4, 1);
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__list .nav__item :hover {
  background: #fff;
  color: #2b1055;
}
.nav__list .nav__item a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 15px;
  margin-left: 20px;
}

#menu-btn {
  width: 30px;
  height: 30px;
  filter: invert(100%);
  display: none;
}

#header.active #menu-btn {
  background-image: url("../assets/svg/cross-svgrepo-com.svg");
}

#header.hide #menu-btn {
  background-image: url("../assets/svg/menu-bars-svgrepo-com.svg");
}

@media screen and (max-width: 640px) {
  #menu-btn {
    display: block;
  }
  #header.active {
    height: 100px;
    padding: 10px 50px 50px 50px;
  }
  #header.active .nav__list {
    display: flex;
  }
  #header.hide {
    height: 60px;
    padding: 20px 50px;
  }
  #header.hide .nav__list {
    display: none;
  }
  .nav__list {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    justify-content: space-around;
  }
  .nav__list .nav__item a {
    padding: 6px 15px;
    margin-left: 0px;
  }
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234)) #1B0723;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #1B0723;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
  border-radius: 12px;
  border: 3px solid #1B0723;
}

.section_img {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section_img::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 10000;
}

.section_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#moon {
  mix-blend-mode: screen;
}

#mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  right: -250px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #261055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}

.section_text {
  position: relative;
  padding: 100px;
  background: linear-gradient(to top, #111022, #1c0522);
  color: #fff;
}

h3 {
  margin-bottom: 10px;
}

.sec h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}
.sec .sec__h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
}
.sec p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.About {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.About section {
  margin-bottom: 20px;
}

.code {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  /* Chrome, Edge, and Safari */
}
.code pre {
  max-height: 550px;
  overflow: auto;
}
.code * {
  scrollbar-color: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234)) #272822;
}
.code *::-webkit-scrollbar {
  width: 12px;
}
.code *::-webkit-scrollbar-track {
  background: #272822;
}
.code *::-webkit-scrollbar-thumb {
  border-radius: 12px;
  border: 3px solid #272822;
}

.skills {
  background-color: #281e2d;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills .skills__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.skills .skills__list {
  list-style-type: none;
  padding: 0;
  font-weight: bold;
}
.skills .skills__item {
  display: flex;
  flex-direction: row;
}
.skills .skills__icon {
  padding-right: 10px;
  padding-bottom: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.education {
  font-size: 1.1em;
}
.education ul {
  list-style: none;
}
.education a {
  color: white;
}

#box {
  position: relative;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#box .ava {
  width: 210px;
  height: 210px;
  object-fit: cover;
  object-position: left;
  border-radius: 50%;
  border: #1c0522 10px solid;
}

.gradient-border {
  --borderWidth: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  width: 230px;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: 50%;
  z-index: 1;
  animation: animatedGradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedGradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@media screen and (max-width: 640px) {
  .section_text {
    padding: 50px;
  }
  #box {
    flex-direction: column;
  }
  #box .gradient-border {
    margin-bottom: 20px;
  }
  .skills {
    background-color: #281e2d;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skills .skills__container {
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 400px) {
  .section_text {
    padding: 20px;
  }
  .section_text h2 {
    text-align: center;
  }
  .section_text p {
    text-align: justify;
  }
}
#works h3 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px;
}
#works .projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#works .project {
  position: relative;
  background-color: #160c22;
  text-align: center;
  color: white;
  width: 300px;
  height: 450px;
  margin: 50px;
}
#works .project span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #140d22;
  z-index: 10;
}
#works .project img,
#works .project figcaption {
  position: relative;
  z-index: 10;
}
#works .project::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(1deg) skewY(2deg);
  background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
  filter: blur(20px);
}
#works .project::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(1deg) skewY(2deg);
  background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
}
#works .project__image {
  width: 300px;
  height: 300px;
  padding: 1px;
  object-fit: cover;
  object-position: center;
}
#works figcaption {
  margin-top: 10px;
}
#works button {
  outline: none;
  border: none;
}
#works .btn-link {
  text-decoration: none;
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  background-color: #00ccff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
  cursor: pointer;
}
#works .btn-link:hover {
  background-color: #d948d9;
  color: #0e1538;
}

@media screen and (max-width: 400px) {
  .project {
    width: 200px !important;
    height: 350px !important;
    margin: 20px !important;
  }
  .project p {
    text-align: center;
    font-size: 1em;
  }
  .project__image {
    width: 200px !important;
    height: 200px !important;
  }
}
#contact h3 {
  margin: 15px 0;
}
#contact .contacts__list {
  list-style: none;
}
#contact .contacts__list .contact {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#contact .contact__icon {
  margin-right: 15px;
  width: 30px;
  filter: invert(100%);
}
#contact a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}
#contact a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.07em;
  height: 0.1em;
  width: 100%;
  background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
  z-index: -1;
  transition: width 0.25s cubic-bezier(0.6, 0, 0.4, 1);
}
#contact a:hover::after {
  width: 1%;
}

#footer {
  height: 150px;
  width: 100%;
  background: linear-gradient(to top, #17171c, #111022);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
}
#footer a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 400px) {
  #footer {
    font-size: 1.5em;
  }
  #footer p {
    text-align: center;
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
