/** Thin */
@import url("https://fonts.googleapis.com/css?family=Raleway:200");
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "San Francisco", "Verdana", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#2b1055, #7597de);
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 500;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234)) #1b0723;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #1b0723;
}

*::-webkit-scrollbar-thumb {
  border-radius: 12px;
  border: 3px solid #1b0723;
}
*::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(45deg, rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
}
*::-webkit-scrollbar-thumb:vertical {
  background: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
}

*::-webkit-scrollbar-corner {
  background: #1b0723;
}

.header__active {
  background-color: rgba(28, 5, 34, 0.9);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding: 30px 100px 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  transition: all 0.7s;
}
#header .header__logo {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
}

#progress-bar {
  position: absolute;
  left: 0;
  bottom: 0.07em;
  height: 0.1em;
  width: 0%;
  background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
  z-index: -1;
  transition: width 0.25s cubic-bezier(0.6, 0, 0.4, 1);
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__list .nav__item :hover {
  background: #fff;
  color: #2b1055;
}
.nav__list .nav__item a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 15px;
  margin-left: 20px;
}

#menu-btn {
  width: 30px;
  height: 30px;
  filter: invert(100%);
  display: none;
}

#header.active #menu-btn {
  background-image: url("../assets/cross-svgrepo-com.svg");
}

#header.hide #menu-btn {
  background-image: url("../assets/menu-bars-svgrepo-com.svg");
}

@media screen and (max-width: 640px) {
  #menu-btn {
    display: block;
  }
  #header.active {
    height: 100px;
    padding: 10px 50px 50px 50px;
  }
  #header.active .nav__list {
    display: flex;
  }
  #header.hide {
    height: 60px;
    padding: 20px 50px;
  }
  #header.hide .nav__list {
    display: none;
  }
  .nav__list {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    justify-content: space-around;
  }
  .nav__list .nav__item a {
    padding: 6px 15px;
    margin-left: 0px;
  }
}
.section_img {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section_img::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 10000;
}

.section_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#moon {
  mix-blend-mode: screen;
}

#mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  right: -250px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #261055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}

.section_text {
  position: relative;
  padding: 100px;
  background: linear-gradient(to top, #111022, #1c0522);
  color: #fff;
}

.sec h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.sec .sec__h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
}
.sec p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#box {
  position: relative;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#box .ava {
  width: 210px;
  height: 210px;
  object-fit: cover;
  object-position: left;
  border-radius: 50%;
  border: #1c0522 10px solid;
}

.gradient-border {
  --borderWidth: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  width: 230px;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: 50%;
  z-index: 1;
  animation: animatedGradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedGradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@media screen and (max-width: 640px) {
  .section_text {
    padding: 50px;
  }
  #box {
    flex-direction: column;
  }
  #box .gradient-border {
    margin-bottom: 20px;
  }
  .skills {
    background-color: #281e2d;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skills .skills__container {
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 400px) {
  .section_text {
    padding: 20px;
  }
  .section_text h2 {
    text-align: center;
  }
  .section_text p {
    text-align: justify;
  }
}
.About {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.About section {
  margin-bottom: 20px;
}

.code {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  gap: 10px;
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  /* Chrome, Edge, and Safari */
}
.code pre {
  max-height: 550px;
  overflow: auto;
}
.code code *,
.code code span {
  font-family: "Courier", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
}
.code * {
  scrollbar-color: linear-gradient(rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234)) #272822;
}
.code *::-webkit-scrollbar {
  width: 12px;
}
.code *::-webkit-scrollbar-track {
  background: #272822;
}
.code *::-webkit-scrollbar-thumb {
  border-radius: 12px;
  border: 3px solid #272822;
}
.code *::-webkit-scrollbar-corner {
  background: #272822;
}

.skills {
  background-color: #281e2d;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills .skills__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
.skills .skills__list {
  list-style-type: none;
  padding: 0;
}
.skills .skills__header {
  color: #6aba98;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.skills .skills__item {
  display: flex;
  flex-direction: row;
}
.skills .skills__icon {
  padding-right: 10px;
  padding-bottom: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.education {
  font-size: 1.1em;
}
.education ul {
  list-style: none;
}
.education a {
  color: white;
}

#works h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}
#works h2 {
  text-align: center;
  margin-bottom: 20px;
}
#works .projects__commercial {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: background 0.4s ease-in;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(6.6px);
}
#works .projects__commercial input[type=radio] {
  display: none;
}
#works .projects__commercial .card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
  background: #01030c;
  border-radius: 16px;
  overflow: hidden;
}
#works .projects__commercial .container {
  width: 100%;
  height: calc(600px + 300px);
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#works .projects__commercial .cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
#works .projects__commercial .hover-bg {
  visibility: hidden;
  opacity: 0;
  background: #01030c;
  padding: 20px;
  transition: all 1s ease-out;
}
#works .projects__commercial .hover-bg div,
#works .projects__commercial .hover-bg h4 {
  margin: 0;
}
#works .projects__commercial .hover-bg.top-bg {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  border-radius: 0 0 16px 16px;
}
#works .projects__commercial .hover-bg.bottom-bg {
  position: absolute;
  left: 50%;
  bottom: -7%;
  transform: translate(-50%, -50%);
  border-radius: 16px 16px 0 0;
}
#works .projects__commercial img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}
#works .projects__commercial #item-1:checked ~ .cards #project-3,
#works .projects__commercial #item-2:checked ~ .cards #project-1,
#works .projects__commercial #item-3:checked ~ .cards #project-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#works .projects__commercial #item-1:checked ~ .cards #project-2,
#works .projects__commercial #item-2:checked ~ .cards #project-3,
#works .projects__commercial #item-3:checked ~ .cards #project-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
#works .projects__commercial #item-1:checked ~ .cards #project-1,
#works .projects__commercial #item-2:checked ~ .cards #project-2,
#works .projects__commercial #item-3:checked ~ .cards #project-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}
#works .projects__commercial #item-1:checked ~ .cards #project-1:hover > .hover-bg,
#works .projects__commercial #item-2:checked ~ .cards #project-2:hover > .hover-bg,
#works .projects__commercial #item-3:checked ~ .cards #project-3:hover > .hover-bg {
  opacity: 1;
  visibility: visible;
}
#works .projects__commercial .player {
  background-color: #1b0723;
  border-radius: 8px;
  min-width: 80%;
  height: 300px;
}
#works .projects__commercial .upper-part {
  position: relative;
  display: flex;
  align-items: center;
  height: 300px;
  overflow: hidden;
}
#works .projects__commercial .project-info {
  padding: 16px 10px;
  height: 300px;
  width: 100%;
  display: block;
  overflow: auto;
  font-weight: 400;
}
#works .projects__commercial .project-info span {
  font-weight: 600;
}
#works .projects__commercial .project-info ul {
  margin-left: 15px;
}
#works .projects__commercial .info-area {
  width: 100%;
  position: absolute;
  top: 0;
  transition: transform 0.4s ease-in;
}
#works .projects__commercial #item-2:checked ~ .player #test {
  transform: translateY(0);
}
#works .projects__commercial #item-2:checked ~ .player #test {
  transform: translateY(-300px);
}
#works .projects__commercial #item-3:checked ~ .player #test {
  transform: translateY(-600px);
}
#works .projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
#works .project {
  position: relative;
  background-color: #160c22;
  text-align: center;
  color: white;
  width: 300px;
  min-height: 450px;
  margin: 50px;
}
#works .project span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #140d22;
  z-index: 10;
}
#works .project img,
#works .project figcaption {
  position: relative;
  z-index: 10;
}
#works .project::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(1deg) skewY(2deg);
  background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
  filter: blur(20px);
}
#works .project::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(1deg) skewY(2deg);
  background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
}
#works .project__image {
  width: 300px;
  height: 300px;
  padding: 1px;
  object-fit: cover;
  object-position: center;
}
#works figcaption {
  margin-top: 10px;
}
#works .cards__title {
  background: #00ccff;
  background: linear-gradient(to right, #00ccff 0%, #ff00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}
#works .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
#works .btn-container a {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #f4f4f4;
  text-transform: capitalize;
}
#works .btn-container a:visited {
  color: #f4f4f4;
}
#works .btn-link {
  text-decoration: none;
  border: 1px solid rgb(0, 204, 255);
  position: relative;
  overflow: hidden;
}
#works .btn-link:hover {
  box-shadow: 1px 1px 20px 10px rgba(0, 204, 255, 0.4);
}
#works .btn-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(0, 204, 255, 0.4), transparent);
  transition: all 650ms;
}
#works .btn-link:hover:before {
  left: 100%;
}

@media screen and (max-width: 400px) {
  .project {
    width: 200px !important;
    min-height: 350px !important;
    margin: 20px !important;
  }
  .project p {
    text-align: center;
    font-size: 1em;
  }
  .project__image {
    width: 200px !important;
    min-height: 200px !important;
  }
}
#contact h3 {
  margin: 15px 0;
}
#contact .contacts__list {
  list-style: none;
}
#contact .contacts__list .contact {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#contact .contact__icon {
  margin-right: 15px;
  width: 30px;
  filter: invert(100%);
}
#contact a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  z-index: 1;
}
#contact a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.07em;
  height: 0.1em;
  width: 100%;
  background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
  z-index: -1;
  transition: width 0.25s cubic-bezier(0.6, 0, 0.4, 1);
}
#contact a:hover::after {
  width: 1%;
}

#footer {
  height: 150px;
  width: 100%;
  background: linear-gradient(to top, #17171c, #111022);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
}
#footer a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 400px) {
  #footer {
    font-size: 1.5em;
  }
  #footer p {
    text-align: center;
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
